body {
	background: #fafafa;
	color: #3f3f3f;
	font-weight: 300;
}

.masmorapps {
	color: #aaaaaa;
}

.main {
	padding-top: 7%
}

.twilst-icon {
	display: inline-block;
	background: url("../img/twilst-icon-nobg.svg");
	background-size: 100%;
	width: 120px;
	height: 120px;
	text-indent: -999em;
	text-align: left;
}

.description {
	margin-top: 15px;
}

@media only screen {
	.description {
		text-align: center !important;
	}
}

@media only screen and (min-width: 48em)  {
	.description {
		text-align: left !important;
	}
}

.twilst {
	color: #555555;
	font-weight: 900;
	margin-bottom: 0px;
}

h1.small {
	font-weight: 300;
}

.details {
	margin-top: 0px;
}

.appstore {
	margin-top: 40px;
}

.appstore .badge {
	display: inline-block;
	background-size: 100%;
	width: 135px;
	height: 40px;
	text-indent: -999em;
	text-align: left;
}

.svg .appstore .badge {
	background: url("../img/appstore-badge.svg");
}

.no-svg .appstore .badge {
	background: url("../img/appstore-badge.png");
}

.follow {
	font-size: 0.8em;
	margin-top: 20px;
}

.share {
	margin-top: 50px;
}

.screenshot {
	margin-top: 40px;
}

.follow>a, .follow>span, .screenshot, .screenshot>span, .clearing-assembled {
	display: inline-block;
	vertical-align: middle;
}

.screenshot span {
	text-align: left !important;
}

.screenshot span>p {
	font-weight: lighter;
}

@media only screen {
	.clearing-assembled {
		max-width: 100px;
	}

	.screenshot span {
		width: 180px;
	}

	.screenshot span>p {
		font-size: 0.75em;
	}
}

@media only screen and (min-width: 48em)  {
	.clearing-assembled {
		max-width: inherit;
	}

	.screenshot span {
		width: 240px;
	}

	.screenshot span>p {
		font-size: 0.9em;
	}
}

.clearing-assembled.clearing-blackout {
	max-width: inherit;
	display: inherit;
	vertical-align: inherit;
}

.clearing-main-prev.disabled, .clearing-main-next.disabled {
	visibility: hidden;
}

.clearing-container .carousel {
	display: none;
}

.clearing-blackout a.clearing-close {
	display: none;
}

@media only screen and (min-width: 48em) {
		.clearing-assembled .clearing-container .visible-img {
		height: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.copyright {
	font-size: 0.7em;
	margin-top: 60px;
	margin-bottom: 30px;
}

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.no-svg .fc-webicon.twitter.small { background: url("../foundation/img/fc-webicon-twitter-s.png"); }
.svg .fc-webicon.twitter { background: url("../foundation/img/fc-webicon-twitter.svg"); }
